In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
av = pd.read_csv('../datasets/aviation_data.csv')

In [16]:
pd.set_option('display.max_columns', None) 
pd.set_option('display.max_colwidth', None)

In [3]:
av.head()

,NtsbNo,EventType,Mkey,EventDate,City,State,Country,ReportNo,N,HasSafetyRec,...,PurposeOfFlight,FAR,AirCraftDamage,WeatherCondition,Operator,ReportStatus,RepGenFlag,DocketUrl,DocketPublishDate,Unnamed: 37
0,ERA24LA019,ACC,193301,2023-10-25T09:57:00Z,Atlanta,Georgia,United States,NaN,N7981E,False,...,INST,091,NaN,VMC,NaN,In work,False,NaN,NaN,NaN
1,CEN24LA020,ACC,193291,2023-10-23T15:11:00Z,Pierre,South Dakota,United States,NaN,N92884,False,...,PERS,091,NaN,NaN,NaN,In work,False,NaN,NaN,NaN
2,CEN24LA023,ACC,193305,2023-10-22T19:00:00Z,Union charter Township,Michigan,United States,NaN,N8088E,False,...,PERS,091,NaN,NaN,NaN,In work,False,NaN,NaN,NaN
3,WPR24FA018,ACC,193276,2023-10-20T17:01:00Z,Covelo,California,United States,NaN,N8248K,False,...,PERS,091,NaN,NaN,PLANE HAVEN LLC,In work,False,NaN,NaN,NaN
4,ERA24LA015,ACC,193282,2023-10-20T16:00:00Z,Tellico Plains,Tennessee,United States,NaN,N958TW,False,...,PERS,091,NaN,VMC,NaN,In work,False,NaN,NaN,NaN

In [4]:
av.shape

(89505, 38)

In [5]:
av.describe()

,Mkey,FatalInjuryCount,SeriousInjuryCount,MinorInjuryCount,EventID,Latitude,Longitude,Unnamed: 37
count,89505.000000,89505.000000,89505.000000,89505.000000,0.0,8.950500e+04,8.950500e+04,0.0
mean,52721.064209,0.547355,0.212256,0.338931,NaN,1.285408e+03,-7.657945e+01,NaN
std,33341.346545,4.902895,1.090214,2.307135,NaN,2.182867e+05,8.431713e+03,NaN
min,2292.000000,0.000000,0.000000,0.000000,NaN,-7.801694e+01,-1.004241e+06,NaN
25%,25031.000000,0.000000,0.000000,0.000000,NaN,2.986805e+01,-1.119175e+02,NaN
50%,50203.000000,0.000000,0.000000,0.000000,NaN,3.622666e+01,-9.064059e+01,NaN
75%,75937.000000,0.000000,0.000000,0.000000,NaN,4.159992e+01,-7.785972e+01,NaN
max,193305.000000,349.000000,111.000000,380.000000,NaN,4.351118e+07,7.457204e+05,NaN

In [9]:
av.select_dtypes(exclude = np.number).describe()

,NtsbNo,EventType,EventDate,City,State,Country,ReportNo,N,HasSafetyRec,ReportType,OriginalPublishDate,HighestInjuryLevel,ProbableCause,Make,Model,AirCraftCategory,AirportID,AirportName,AmateurBuilt,NumberOfEngines,Scheduled,PurposeOfFlight,FAR,AirCraftDamage,WeatherCondition,Operator,ReportStatus,RepGenFlag,DocketUrl,DocketPublishDate
count,89505,89505,89505,89444,82309,89008,216,89410,89505,89503,70460,88974,60385,89443,89416,88864,50547,53089,89505,83447,12739,83133,88822,88926,84688,43740,83034,89505,22081,22081
unique,89505,3,87383,22486,57,189,214,81075,2,4,2187,4,56804,9173,13511,40,10534,25342,7,39,3,130,81,30,3,37702,2,1,22081,19012
top,ERA24LA019,ACC,1987-12-10T10:30:00Z,ANCHORAGE,California,United States,AAR8903,UNREG,False,DirectorBrief,2020-11-03T05:00:00Z,None,A loss of engine power for undetermined reasons.,CESSNA,152,AIR,NONE,Private,FALSE,1,NSCH,PERS,091,Substantial,VMC,",",Completed,False,https://data.ntsb.gov/Docket?ProjectID=193042,10/9/2020 5:40:27 PM
freq,1,85540,4,361,8795,82429,2,521,88843,82690,1046,48268,124,18498,2273,76092,1489,249,79934,69233,4645,49217,70270,64154,77626,480,81839,89505,1,44

In [10]:
av['N'].value_counts()

UNREG      521
UNK         39
NONE        10
N20752       8
unknown      7
          ...
N57ME        1
N421XJ       1
N370RL       1
N5537F       1
N5069P       1
Name: N, Length: 81075, dtype: int64

In [21]:
av.loc[av['N'] == 'N20752', 'ProbableCause'].to_frame()

                                                                                                                                                                                                                                                  ProbableCause
41155                                                                                                                            The pilot's selection of unsuitable terrain for landing.  A factor in the accident was a hidden obstruction, and soft terrain.
47567  the pilot's inadequate compensation for wind conditions, and his failure to maintain directional control of the airplane, which resulted in a ground swerve and damage to the airplane.  A factor relating to the accident was: the crosswind condition.
49865                                                                                                                                                                                  The pilot's excessive application of the brakes during the landing roll.
53803                                                                                               A FAILURE OF THE PILOT TO MAINTAIN ADEQUATE DISTANCE FROM THE TERRAIN (SNOW BANK).  FLAT LIGHTING AND LOW CONTRAST CONDITIONS WERE FACTORS IN THE ACCIDENT.
56472                                                            FUEL EXHAUSTION AS A RESULT OF THE PILOT IN COMMAND'S NOT REFUELING. A FACTOR IN THE ACCIDENT WAS THE OPERATOR/MANAGEMENT INADEQUATE FLIGHT FOLLOWING AND OPERATIONAL CONTROL OVER THE FLIGHT.
58114       THE FAILURE OF THE NO. TWO CYLINDER CONNECTING ROD DUE TO A SLIPPED (SPUN) MAIN CRANKSHAFT BEARING WHICH BLOCKED OFF THE OIL HOLE TO THE CONNECTING ROD.  A FACTOR IN THE ACCIDENT WAS THE UNSUITABLE TERRAIN ON WHICH TO PERFORM A FORCED LANDING.
59658                                                                                                 THE IMPROPER USE OF THE FLT CONTROLS BY THE SECOND PILOT DURING LANDING ROLL.  FACTORS RELATING TO THE MISHAP WERE THE ROUGH/UNEVEN SNOW COVERED TERRAIN.
67874                                                                                                                                                                                                                                                       NaN