In [26]:
#imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn import metrics
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split


import statsmodels.api as sm

In [27]:
#using Mike's glm class from mike_model_maker.ipynb
class aviation_data_model:
    def __init__(self, x, y, drop_categories = None, test_size=0.3, random_state = 2023):
        self.x = x.copy()
        self.drop_categories = drop_categories
        self.y = y
        self.random_state = random_state
        self.test_size = test_size
        self.model = None
        self.x_oh = None
        self.x_con = None
        self.results = None
        self.pvalues = None

        
    def one_hot(self):
        #Check to see if dummy parameter passed correctly
        if type(self.drop_categories[0]) == tuple:
            
            categories = []
            for i, j in self.drop_categories:
                # Collect subset of columns to dummify
                categories.append(i)
                
                # If a specific drop value has been given for a column, add a 0- to it so it is 'first' and drops accordingly
                if j != 'first':
                    self.x[i] = np.where(self.x[i] == j, '0-' + j, self.x[i])
        else:
            raise TypeError('Invalid OneHotEncoder values. Use None or a list of tuples of (column name, category name')
            
        self.x_oh = pd.get_dummies(data= self.x, columns = categories, drop_first=True)
        # Log line - uncomment below to check shapes after important steps
        # print(f"OneHot Resulting Shape: {self.x_oh.shape}")
        return self.x_oh
    
    def train_test(self, x, y):
        X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=self.test_size, random_state=self.random_state)
        return (X_train, X_test, y_train, y_test)
        
    
    def fit_binomial(self):
        # Start with OneHotEncoding if given
        if self.drop_categories:
            oh = self.one_hot()
            
        # Add column for constant per statsmodels GLM requirements
        x_con = sm.add_constant(oh[list(oh.columns)])
        self.x_con = x_con
        
        # Log line - uncomment below to check shapes after important steps
        # print(f"After constant Resulting Shape: {self.x_con.shape}")
        
        #Train Test Split
        X_train, X_test, y_train, y_test = self.train_test(x_con, self.y)

        
        # Log lines - uncomment below to check shapes after important steps
        # print(f"After tts X_train Resulting Shape: {X_train.shape}")
        # print(f"After tts X_test Resulting Shape: {X_test.shape}")
        # print(f"After tts y_train Resulting Shape: {y_train.shape}")
        # print(f"After tts y_test Resulting Shape: {y_test.shape}")
        
        #Make and fit a model
        glm_bin = sm.GLM(
            y_train,
            X_train,
            family=sm.families.Binomial(link=sm.families.links.Logit())).fit()
        
        #Stash results as accessible attributes
        self.results = glm_bin.summary()
        self.model = glm_bin
        self.pvalues = np.round(glm_bin.pvalues, 4).to_frame().sort_values(by = 0)

In [28]:
#reading in data
data = pd.read_csv('../datasets/alaska_single_engine_clean.csv')

In [29]:
data.head()

,ntsb_no,event_type,mkey,city,n,has_safety_rec,report_type,highest_injury_level,fatal_injury_count,serious_injury_count,...,event_day,event_time,event_hour,event_season,has_injury,has_aircraft_damage,is_accident,occurred_near_airport,make_model,aircraft_family
0,ANC23LA086,ACC,193153,Trimble River / Skwentna,N2586R,0,DirectorBrief,None Reported,0,0,...,24,08:30:00,8,Fall,0,1,1,0,CESSNA 182K,CESSNA 182 SKYLANE
1,ANC23LA084,ACC,193128,Bethel,N8192D,0,DirectorBrief,None Reported,0,0,...,20,12:00:00,12,Fall,0,1,1,0,PIPER PA-18-150,PIPER PA-18 SUPER CUB
2,ANC23LA080,ACC,193097,Homer,N7558H,0,DirectorBrief,None Reported,0,0,...,18,13:00:00,13,Fall,0,1,1,1,CESSNA A185F,CESSNA 185 SKYWAGON
3,ANC23LA082,ACC,193105,Beaver Creek,N713C,0,DirectorBrief,None Reported,0,0,...,16,16:50:00,16,Fall,0,1,1,0,HELIO H-295,HELIO COURIER
4,ANC23LA078,ACC,193088,NENANA,N907W,0,DirectorBrief,None Reported,0,0,...,16,15:00:00,15,Fall,0,1,1,0,RHODES STEVEN D SR3500,UNCOMMON FAMILY

In [30]:
X = data['aircraft_family']
y = data['has_injury']

In [31]:
data.dtypes

ntsb_no                   object
event_type                object
mkey                       int64
city                      object
n                         object
has_safety_rec             int64
report_type               object
highest_injury_level      object
fatal_injury_count         int64
serious_injury_count       int64
minor_injury_count         int64
probable_cause            object
latitude                 float64
longitude                float64
make                      object
model                     object
aircraft_category         object
airport_id                object
airport_name              object
amateur_built              int64
scheduled                 object
purpose_of_flight         object
far                       object
aircraft_damage           object
weather_condition         object
operator                  object
event_year                 int64
event_month                int64
event_day                  int64
event_time                object
event_hour                 int64
event_season              object
has_injury                 int64
has_aircraft_damage        int64
is_accident                int64
occurred_near_airport      int64
make_model                object
aircraft_family           object
dtype: object

In [32]:
X_dummies = pd.get_dummies(data=X, columns=['aircraft_family'], drop_first=True)
X_dummies

,AERONCA 7AC CHAMPION,BEECHCRAFT 1900,BELL 206,CESSNA 140,CESSNA 150,CESSNA 152,CESSNA 170,CESSNA 172 SKYHAWK,CESSNA 175 SKYLARK,CESSNA 177 CARDINAL,...,PIPER PA-20 PACER,PIPER PA-22 TRI-PACER,PIPER PA-28 CHEROKEE,PIPER PA-31 NAVAJO,PIPER PA-32 CHEROKEE SIX,ROBINSON HELICOPTER COMPANY R44 II,STINSON 108,TAYLORCRAFT B,TAYLORCRAFT F-19 SPORTSMAN,UNCOMMON FAMILY
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5585,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5586,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5587,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5588,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5589,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
# SAMPLE!
# create a new object that is ultimately a fitted binomial model
binomial_model_2 = aviation_data_model( X, y, [
    # Include tuples of (column name, specific value you want dropped)
    # Just put 'first' if you don't care about dropping a specific value
    ('aircraft_family', 'first'),
    
])

# call the fit_binomial() model to get it!
binomial_model_2.fit_binomial()

# access the results
results2 = binomial_model_2.results
# or the p values
pvalues2 = binomial_model_2.pvalues

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X_dummies, y, test_size=0.3, random_state=42)

In [36]:
model = sm.GLM(y_train, X_train, family=sm.families.Gaussian())

In [37]:
results = model.fit()

In [39]:
p_values = results.pvalues

In [46]:
p_values

AERONCA 7AC CHAMPION                              4.574145e-01
BEECHCRAFT 1900                                   9.194665e-02
BELL 206                                          1.289959e-09
CESSNA 140                                        3.994473e-01
CESSNA 150                                        3.428205e-08
CESSNA 152                                        3.186696e-03
CESSNA 170                                        2.266565e-05
CESSNA 172 SKYHAWK                                3.802044e-13
CESSNA 175 SKYLARK                                1.372204e-01
CESSNA 177 CARDINAL                               1.004687e-02
CESSNA 180 SKYWAGON                               4.750845e-11
CESSNA 182 SKYLANE                                2.803431e-08
CESSNA 185 SKYWAGON                               5.262164e-23
CESSNA 206 STATIONAIR                             5.337353e-27
CESSNA 207                                        1.198410e-32
CESSNA 208 CARAVAN                                4.649446e-10
CESSNA 402                                        5.530182e-04
CHAMPION/ BELLANCA/ AMERICAN CHAMPION CITABRIA    5.448944e-11
CHAMPION/ BELLANCA/ AMERICAN CHAMPION SCOUT       5.066105e-03
DE HAVILLAND DHC-2 BEAVER                         3.751926e-13
DE HAVILLAND DHC-3 OTTER                          2.868877e-05
DE HAVILLAND DHC-6 TWIN OTTER                     1.372204e-01
DOUGLAS DC-3                                      3.187703e-01
DOUGLAS DC-6                                      2.954391e-03
GRUMMAN G-44 WIDGEON                              1.149391e-01
HELIO COURIER                                     1.245960e-02
HUGHES 369D                                       7.173585e-03
LUSCOMBE 8                                        3.994473e-01
MAULE M-4                                         7.386593e-02
MAULE M-5                                         2.986645e-04
MAULE M-6                                         1.585533e-01
MAULE M-7                                         2.162314e-01
PIPER J-3 CUB                                     1.499906e-02
PIPER J-5 CUB CRUISER                             4.305866e-01
PIPER PA-11 CUB SPECIAL                           1.617386e-03
PIPER PA-12 SUPER CRUISER                         1.101470e-13
PIPER PA-14 FAMILY CRUISER                        2.011262e-02
PIPER PA-16 CLIPPER                               4.574145e-01
PIPER PA-18 SUPER CUB                             4.783354e-42
PIPER PA-20 PACER                                 1.637247e-01
PIPER PA-22 TRI-PACER                             2.365545e-06
PIPER PA-28 CHEROKEE                              9.979325e-12
PIPER PA-31 NAVAJO                                4.096423e-07
PIPER PA-32 CHEROKEE SIX                          1.450841e-14
ROBINSON HELICOPTER COMPANY R44 II                1.805127e-02
STINSON 108                                       3.475629e-04
TAYLORCRAFT B                                     8.670688e-08
TAYLORCRAFT F-19 SPORTSMAN                        5.530182e-04
UNCOMMON FAMILY                                   4.792327e-98
dtype: float64

In [47]:
p_values.round(4)

AERONCA 7AC CHAMPION                              0.4574
BEECHCRAFT 1900                                   0.0919
BELL 206                                          0.0000
CESSNA 140                                        0.3994
CESSNA 150                                        0.0000
CESSNA 152                                        0.0032
CESSNA 170                                        0.0000
CESSNA 172 SKYHAWK                                0.0000
CESSNA 175 SKYLARK                                0.1372
CESSNA 177 CARDINAL                               0.0100
CESSNA 180 SKYWAGON                               0.0000
CESSNA 182 SKYLANE                                0.0000
CESSNA 185 SKYWAGON                               0.0000
CESSNA 206 STATIONAIR                             0.0000
CESSNA 207                                        0.0000
CESSNA 208 CARAVAN                                0.0000
CESSNA 402                                        0.0006
CHAMPION/ BELLANCA/ AMERICAN CHAMPION CITABRIA    0.0000
CHAMPION/ BELLANCA/ AMERICAN CHAMPION SCOUT       0.0051
DE HAVILLAND DHC-2 BEAVER                         0.0000
DE HAVILLAND DHC-3 OTTER                          0.0000
DE HAVILLAND DHC-6 TWIN OTTER                     0.1372
DOUGLAS DC-3                                      0.3188
DOUGLAS DC-6                                      0.0030
GRUMMAN G-44 WIDGEON                              0.1149
HELIO COURIER                                     0.0125
HUGHES 369D                                       0.0072
LUSCOMBE 8                                        0.3994
MAULE M-4                                         0.0739
MAULE M-5                                         0.0003
MAULE M-6                                         0.1586
MAULE M-7                                         0.2162
PIPER J-3 CUB                                     0.0150
PIPER J-5 CUB CRUISER                             0.4306
PIPER PA-11 CUB SPECIAL                           0.0016
PIPER PA-12 SUPER CRUISER                         0.0000
PIPER PA-14 FAMILY CRUISER                        0.0201
PIPER PA-16 CLIPPER                               0.4574
PIPER PA-18 SUPER CUB                             0.0000
PIPER PA-20 PACER                                 0.1637
PIPER PA-22 TRI-PACER                             0.0000
PIPER PA-28 CHEROKEE                              0.0000
PIPER PA-31 NAVAJO                                0.0000
PIPER PA-32 CHEROKEE SIX                          0.0000
ROBINSON HELICOPTER COMPANY R44 II                0.0181
STINSON 108                                       0.0003
TAYLORCRAFT B                                     0.0000
TAYLORCRAFT F-19 SPORTSMAN                        0.0006
UNCOMMON FAMILY                                   0.0000
dtype: float64